<div class="welcome-container">
  <h1>Welcome to Our Recipe App!</h1>
  <p>Discover and share delicious recipes with our community of food enthusiasts.</p>
  <%= link_to "Create a New Recipe", new_recipe_path, class: "btn-explore" %>
  <%= link_to "Explore Public Recipes", public_recipes_path, class: "btn-explore" %>
</div>

